beautifulsoup4
brotlipy==0.7.0
certifi==2021.10.8
cffi 
charset-normalizer 
cryptography 
cycler==0.11.0
fonttools==4.32.0
idna 
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.38.0
packaging==21.3
Pillow==9.1.0
pycparser 
pyOpenSSL 
pyparsing==3.0.8
PySocks 
python-dateutil==2.8.2
pytz==2022.1
requests
soupsieve 
urllib3 